<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <style>
    .btn-info {
    color: #fff;
    background-color: #02abe5;
    border-color: #46b8da;
}
    </style>
</head>
<body>
    <div class="maindiv" style="text-align: center;">
    <h3 >Welcome to home page</h3>
    <p>Click on button go to student info page </p>
    <button  class="btn btn-info"type="button"><a style="color:white" href="/studentInfoView/"> Student Info</a></button>
    </div>
</body>
</html>